body {
  background: #131b21;
  margin: 0;
  padding: 0;
}

.container {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

svg#flower-frame {
  height: 90vh;
  width: 100%;
}

#Footer_group_1_,
[id^="PinkFlowerGroup"],
[id^="BaseGroup"] path,
[id^="LeafGroup"] path,
path[id^="Stroke"],
g[id^="BudGroup"] g[id^="Bud"],
#Bud8_1_ {
  /* Stil efektleri buraya eklenebilir */
}
